colorlog==6.10.1
homeassistant>=2026.3
pip>=26.1
pre-commit>=4.6.0
ruff==0.15.12
wakeonlan==3.1.0
pytest
pytest-asyncio
pytest-homeassistant-custom-component

# misc dependencies for home assistant
aiodhcpwatcher
aiousbwatcher
async-upnp-client
av
ha-ffmpeg
hassil
home-assistant-frontend
pymicro-vad==2.0.1
PyTurboJPEG==1.8.3
